@media only screen and (orientation: landscape) {

    body {
        grid-template-rows: auto auto 50px;
    }

    #hamburger {
        display: none;
    }

    nav {
        width: 100%;
        height: 50px;
        justify-content: center;
    }

    nav #links {
        display: grid;
        grid-template-areas: 'links';
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        height: 50px;
        width: 100vw;
    }

    nav #links a {
        font-size: 2em;
        width: 100%;
    }

    #bio {
        grid-template-areas: 'aboutTitle aboutTitle' 'aboutImg aboutDesc';
    }

    #bio p {
        display: grid;
        align-items: center;
    }

    #portfolio-items {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 2em;
    }

    #contact {
        grid-template-rows: repeat(4, auto) 250px;
    }

    #contact fieldset {
        grid-template-areas: 'label input';
        grid-template-columns: 1fr 1fr;
    }

    #contact label {
        text-align: right;
        padding-right: 20px;
    }

    #contact input, #contact textarea {
        text-align: left;
        width: 80%;
    }

    #contact textarea {
        height: 250px;
    }
}