@media only screen and (orientation: portrait) {
    body {
        grid-row-gap: 20px;
        grid-template-rows: var(--hamburger-size) auto 100px;
    }

    nav {
        grid-area: nav;
        grid-template-areas: 'hamburger' 'links';
    }

    nav #hamburger {
        display: grid;
        right: 0;
    }

    nav #links {
        position: fixed;
        grid-template-rows: repeat(3, auto);
        display: none;
        height: 0px;
        top: calc(40px + var(--hamburger-size));

    }

    nav #links a {
        display: none;
    }

    #bio {
        grid-row-gap: 10px;
        grid-template-areas: 'aboutTitle' 'aboutImg' 'aboutDesc';
    }

    .portfolio-item {
        grid-template-rows: 80px 500px 200px 100px;
    }

    .portfolio-item img {
        height: 100%;
    }

    #contact fieldset {
        grid-template-areas: 'label' 'input';
    }

    #contact textarea {
        height: calc(100% - 100px);
    }

    footer {
        grid-template-areas: 'socialMedia' 'copyright';
    }

}