@media only screen and (orientation: portrait) {
    body {
        grid-row-gap: 20px;
        grid-template-rows: auto auto 100px;
    }
    nav {
        grid-area: nav;
        grid-template-areas: 'hamburger' 'links';
    }

    nav #links {
        position: relative;
        grid-template-rows: repeat(3, auto);
        display: none;
        height: 0px;
        top: calc(40px + var(--hamburger-size));

    }
    
    #bio {
        grid-row-gap: 10px;
        grid-template-areas: 'aboutTitle' 'aboutImg' 'aboutDesc';
    }

    #contact {
        grid-template-areas: 'title' 'name' 'phone' 'email' 'message';
        grid-template-rows: repeat(4, auto) 500px;
    }
}