* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    display: grid;
    grid-template-areas: 'nav' 'main' 'footer';
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    justify-items: center;
    background-color: var(--body-bg);
    color: var(--body-color);
}
nav {
    display: grid;
    justify-self: right;
    width: var(--hamburger-size);
    color: var(--footer-color);
}

nav.shown {
    width: 100%;
}

#links.shown {
    display: grid;
    height: calc(100vh - var(--hamburger-size));
    background-color: var(--nav-links-bg);
    color: var(--nav-links-color);
}

nav a:hover {
    background-color: var(--nav-links-hover-bg);
    color: var(--nav-links-hover-color);
}

#hamburger {
    grid-area: hamburger;
    justify-self: right;
    margin: 0px 20px 0px 0px;
    display: grid;
    align-content: space-around;
    justify-items: center;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    position: relative;
    top: 20px;
    right: 20px;
}
#hamburger div {
    height: 17px;
    width: 90%;
    background-color: var(--hamburger-bg);
    border: none;
    border-radius: 25px;
}
nav #links {
    grid-area: links;
    justify-content: center;
    justify-items: center;
}
nav.shown {
    background-color: var(--nav-links-hover-bg);
    color: var(--nav-links-hover-color);
}
nav #links a {
    display: grid;
    text-align: center;
    align-items: center;
    width: 100vw;
    font-size: 4em;
}
main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'about' 'portfolio' 'contact';
    justify-content: center;
    justify-items: center;
    max-width: 90%;
}
#bio {
    grid-area: about;
    display: grid;
    justify-content: center;
    justify-items: center;
}
#bio h1 {
    grid-area: aboutTitle;
}
#bio img {
    border-radius: 25px;
    grid-area: aboutImg;
    width: 90%;
}
#bio p {
    grid-area: aboutDesc;
    max-width: 90%;
    text-indent: 3em;
}
#portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-areas: 'title' 'items';
    grid-row-gap: 30px;
    text-align: center;
}
#portfolio-title {
    grid-area: title;
}
#portfolio-items {
    grid-area: items;
    display: grid;
}
.portfolio-item {
    display: grid;
    grid-template-areas: 'title title' 'image image' 'description description' 'preview code';
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 270px 80px auto;
    justify-items: center;   
}
.portfolio-item h2 {
    grid-area: title;
    width: 100%;
}
.portfolio-item img {
    grid-area: image;
    width: 90%;
}
.portfolio-item p {
    grid-area: description;
}
.portfolio-item a {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-self: center;
    border: none;
    border-radius: 20px;
    width: 90%;
    font-size: 2.5em;
}
.portfolio-item #preview-link {
    grid-area: preview;
    background-color: var(--portfolio-view-preview-bg);
    color: var(--portfolio-view-preview-color);
}

.portfolio-item #preview-link:hover {
    background-color: var(--portfolio-view-preview-bg-hover);
}

.portfolio-item #code-link {
    grid-area: code;
    background-color: var(--portfolio-view-code-bg);
    color: var(--portfolio-view-code-color);
}

.portfolio-item #code-link:hover {
    background-color: var(--portfolio-view-code-bg-hover);
}

#contact {
    grid-area: contact;
    display: grid;
    grid-template-areas: 'title' 'name' 'phone' 'email' 'message';
    grid-template-rows: repeat(4, auto) 500px;
    grid-row-gap: 20px;
    width: 100%;
}

#contact h1 {
    grid-area: title;
}

#contact fieldset {
    display: grid;
    border: none;
}

#contact .fieldset-wrapper {
    display: grid;
}

#contact input, #contact label {
    height: 70px;
    font-size: 2.5em;
    text-align: center;
}
#contact label {
    grid-area: label;
    display: grid;
    align-items: center;
}
#contact input {
    grid-area: input;
    border: 1px solid var(--form-input-border);
    border-radius: 20px;
    width: 100%;
}
#contact #name-wrapper {
    grid-area: name;
}
#contact #phone-wrapper {
    grid-area: phone;
}
#contact #email-wrapper {
    grid-area: email;
}
#contact #message-wrapper {
    grid-area: message;
    grid-template-rows: 5em auto;
}

#contact-message .fieldset-wrapper {
    height: 100%;
}

#contact-message textarea {
    grid-area: input;
    border: 1px solid var(--form-input-border);
    border-radius: 20px;
    font-size: 2.5em;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

footer {
    display: grid;
    align-items: center;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    grid-area: footer;
    text-align: center;
    width: 100vw;
}

#social-media {
    grid-area: socialMedia;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, var(--social-media-size));
    grid-column-gap: 20px;
}

#social-media svg {
    grid-area: socialMedia;
    width: var(--social-media-size);
    height: var(--social-media-size);
    fill: var(--body-color);
}

#copyright {
    grid-area: copyright;
}

h1 {
    font-size: 6em;
    text-align: center;
}
h2 {
    font-size: 2.5em;
    display: grid;
    align-content: center;
}
a {
    text-decoration: none;
    color: inherit;
}